.App{
  max-width: 840px;
  margin: auto;
}

body{
  background-color: #e7e3e0;
}

body * {
  font-family: petala-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

.results-box{
  position: relative;
}

.results-box ul{
  position: absolute;
  background-color: white;
  width: 100%;
  top: -10px;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid #cbc5c5;
  border-radius: 5px;
  overflow: hidden;
  /*max-width: 200px;*/
}
.results-box li{
  list-style: none;
  margin-left: 0;
  padding: 5px;
  border-bottom: 1px solid #cbc5c5;
  cursor: pointer;
}

.results-box li:hover{
  background-color: #f3f3f3;
}

.results-box li:last-child{
  border-bottom: 0;
}

form{
  width: 100%;
}
input{
  margin-top: 30px;
  width: 100%;
  border: 1px solid #cbc5c5;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 21px;
}

.result{
  background-color:#7c6c63;
  color: white;
  padding: 5px;
}

.mini{
  font-size: 12px;
}

.data-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.data-boxes > div{
  flex: 1 1 calc(50% - 10px);

}

.data-box{
  flex: 1 1 calc(50% - 10px);
  background: #f3f3f3;
  padding: 10px;
  margin: 5px;
}

.data-box button{
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}
.data-box .pin-me{
  border: 1px solid black;
  padding: 5px;
  transition: all 0.2s;
}

.data-box .pin-me:hover{
  background-color: black;
  color: white;
  transition: all 0.2s;
}

.data-box h1{
  margin-top: 0;
}

@media(max-width: 742px){
  .data-boxes{
    flex-direction: column;
    align-items: stretch;
  }

  .data-boxes > div{
    flex: 1 1 100%;
  }
}