.App{
  max-width: 840px;
  margin: auto;
}

body{
  background-color: #f5f3ed;
}

.headers{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 800;
  font-style: normal;
}

body * {
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: #333;
}



.results-box, .region-select{
  position: relative;
}

.results-text p{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
}

.region-select{
  height: 200px;
  overflow: scroll;
  margin-bottom: 10px;
}
.results-box ul, .region-select ul{
  position: absolute;
  background-color: white;
  width: 100%;
  top: -10px;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid #cbc5c5;
  border-radius: 5px;
  overflow: hidden;
  /*max-width: 200px;*/
}
.results-box li, .region-select li{
  list-style: none;
  margin-left: 0;
  padding: 5px;
  border-bottom: 1px solid #cbc5c5;
  cursor: pointer;
}

.results-box li:hover, .region-select li:hover{
  background-color: #f3f3f3;
}

.results-box li:last-child, .region-select li:last-child{
  border-bottom: 0;
}

form{
  width: 100%;
}
input{
  margin-top: 30px;
  width: 100%;
  border: 1px solid #cbc5c5;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 21px;
}

.result{
  /*background-color:#BB775A;*/
  /*color: white;*/
  padding: 5px;
  float: right;
  font-size: 21px;
  /*border-radius: 5px;*/
}

hr{
  color: #2D2C2E;
  border: 1px solid #2D2C2E;
}

.result span {
  color: #2D2C2E;
}

.mini{
  font-size: 12px;
}

.data-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
}



.data-boxes > div{
  flex: 1 1 calc(50% - 10px);

}

.data-box{
  flex: 1 1 calc(50% - 10px);
  background: #C6BDAC;
  padding: 20px;
  margin: 5px;
  border-radius: 0px;
}

.data-box p{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0;
}

.data-box button{
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}
.data-box .pin-me{
  border: 1px solid #2D2C2E;
  padding: 5px;
  transition: all 0.2s;
  background-color: #2D2C2E;
  color: white;
}

.data-box .pin-me:hover{
  background-color: transparent;
  color: #2D2C2E;
  transition: all 0.2s;
}

.data-box h1{
  margin-top: 0;
  color: #2D2C2E;;
}

.data-box p.large{
  font-size: 1.1875rem;
}

.data-box .result.large{
  font-size: 1.875rem;
}

.select-region{
  width: 100%;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 10px;

}

.tab-buttons{
  display: flex;
  justify-content: center;
}

.tab-buttons button{
  flex: 0 0 50%;
  padding: 20px;
  background: #BB775A;
  color: white;
  opacity: 0.5;
  border: none;
  cursor: pointer;
  font-family: ivyjournal, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tab-buttons button.active{
  opacity: 1;
  cursor: default;
}

@media(max-width: 742px){
  .data-boxes{
    flex-direction: column;
    align-items: stretch;
  }

  .data-boxes > div{
    flex: 1 1 100%;
  }
}
